@font-face {
    font-family: 'Pokemon Pixel Font Regular';
    src: url('https://www.fontsaddict.com/fontface/pokemon-pixel-font-regular.ttf');
  }



body {
    background-image: url(https://cdn.discordapp.com/attachments/1187839958640246864/1190152006837481533/7bcd79_upscaled.png?ex=65a0c26e&is=658e4d6e&hm=838120f7c93cb01eded5ce54a83de096c2d58539a86cf87a9dd0ae9ccd5a345a&);
    background-repeat: no-repeat;
    /* background-position: center;
    background-attachment: fixed;
    background-size: cover; */
  }

#pokemon-list-location{  
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: absolute;
    max-height: 201px;
    width: 267px;
    top: 383px;
    right: 0;
    font-family: 'PixGamer', sans-serif;
    font-size: 49px;
    border: 2px solid red;
    background-color: lightgoldenrodyellow;
}


  .pokemon-detail-container {
    display: flex;
    flex-direction: row;
    /* overflow: auto; */
    position: absolute;
    top: 6px;
    justify-content: space-evenly;
    height: 163px;
    width: 914px;
    padding: 20px;
    margin: 50px;
    border: 10px solid black;
    top: -22px;
    right: -50px;
    font-family: 'PixGamer', sans-serif;
    font-size: 37px;
  }

.pokemon-picture{
    display: flex;
    overflow: auto;
    position: absolute;
    height: 394px;
    width: 546px;
    padding: 20px;
    margin: 50px;
    /* border: 10px solid black; */
    top: 33px;
    left: 5px;
}
   

#description{
    display: flex;
    flex-direction: row;
    /* overflow: auto; */
    position: absolute;
    top: 6px;
    justify-content: space-evenly;
    height: 214px;
    width: 1773px;
    padding: 20px;
    margin: 50px;
    /* border: 10px solid black; */
    top: 620px;
    left: -6px;
    font-family: 'PixGamer', sans-serif;
    font-size: 67px;
    
}

#search-bar-location{
    position: absolute;
    top: 6px;
    justify-content: space-evenly;
    height: 21px;
    width: 240px;
    padding: 20px;
    margin: 50px;
    border: 10px solid black;
    top: 336px;
    right: 605px;
    font-family: 'PixGamer', sans-serif
    

}

#name{
    display: flex;
    overflow: auto;
    position: absolute;
    height: 17px;
    width: 274px;
    padding: 20px;
    margin: 50px;
    border: 10px solid black;
    top: -39px;
    left: -43px;
}

#type{
    display: flex;
    overflow: auto;
    position: absolute;
    height: 17px;
    width: 274px;
    padding: 20px;
    margin: 50px;
    border: 10px solid black;
    top: 56px;
    left: -43px;
}

#weight{
    display: flex;
    overflow: auto;
    position: absolute;
    height: 17px;
    width: 354px;
    padding: 20px;
    margin: 50px;
    border: 10px solid black;
    top: -39px;
    left: 425px;
}

#abilities{
    display: flex;
    overflow: auto;
    position: absolute;
    height: 17px;
    width: 354px;
    padding: 20px;
    margin: 50px;
    border: 10px solid black;
    top: 58px;
    left: 425px;
}