@font-face {
    font-family: 'Pokemon Pixel Font Regular';
    src: url('https://www.fontsaddict.com/fontface/pokemon-pixel-font-regular.ttf');
  }

header {
    font-family: 'Pokemon Solid', sans-serif;
    top: 211px;
    position: absolute;
    left: 947px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #354fad;
    color: #e8c602;
    font-size: 43px;
}

#trainer-container{
    display: flex;
    flex-direction: unset;
    font-family: 'Pokemon Solid', sans-serif;
    top: 364px;
    position: fixed;
    left: 1052px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #354fac;
    color: #e8c602;
    font-size: 26px;
    width: 188px;
    height: 164px;
    /* border: solid black; */
    padding: 0px;
    align-items: center;
    justify-content: center;
    line-height: 37px;
}

body {
    background-image: url(https://cdn.discordapp.com/attachments/1187839958640246864/1190152006837481533/7bcd79_upscaled.png?ex=65a0c26e&is=658e4d6e&hm=838120f7c93cb01eded5ce54a83de096c2d58539a86cf87a9dd0ae9ccd5a345a&);
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
  }

#pokemon-list-location{ 
    list-style-type: auto;
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: fixed;
    max-height: 201px;
    width: 333px;
    top: 383px;
    right: 0;
    font-family: 'PixGamer', sans-serif;
    font-size: 49px;
    border: 2px solid #eded2c;
    border-radius: 10px;
    background-color: lightgoldenrodyellow;
    justify-content: space-between;
    align-items: normal;
    padding-left: 17px;
}


  .pokemon-detail-container {
    display: flex;
    flex-direction: row;
    /* overflow: auto; */
    position: absolute;
    top: 6px;
    justify-content: space-evenly;
    height: 180px;
    width: 1120px;
    border-radius: 51px;
    padding: 20px;
    margin: 50px;
    border: 4px solid black;
    top: -24px;
    right: -101px;
    font-family: 'PixGamer', sans-serif;
    font-size: 37px
  }

.pokemon-picture{
    display: flex;
    overflow: auto;
    position: absolute;
    height: 394px;
    width: 546px;
    padding: 20px;
    margin: 50px;
    /* border: 10px solid black; */
    top: 33px;
    left: 5px;
}
   

#description{
    display: flex;
    flex-direction: row;
    /* overflow: auto; */
    position: absolute;
    top: 6px;
    justify-content: space-evenly;
    height: 214px;
    width: 1773px;
    padding: 20px;
    margin: 50px;
    /* border: 10px solid black; */
    top: 620px;
    left: -6px;
    font-family: 'PixGamer', sans-serif;
    font-size: 67px;
    
}

#search-bar-location{
    position: absolute;
    top: 6px;
    justify-content: space-evenly;
    height: 21px;
    width: 240px;
    padding: 20px;
    margin: 50px;
    /* border: 10px solid black; */
    top: 242px;
    right: -48px;
    font-family: 'PixGamer', sans-serif;
    

}

#name{
    display: flex;
    overflow: auto;
    position: fixed;
    height: 17px;
    width: 274px;
    padding: 20px;
    margin: 50px;
    border: 6px solid black;
    border-radius: 10px;
    top: -12px;
    right: 561px;
    font-weight: bold;
    justify-content: center;
    padding-bottom: 40px;
}

#type{
    display: flex;
    overflow: auto;
    position: fixed;
    height: 17px;
    width: 274px;
    padding: 20px;
    margin: 50px;
    border: 6px solid black;
    border-radius: 10px;
    top: 101px;
    right: 562px;
    font-weight: bold;
    justify-content: center;
    padding-bottom: 40px;
}

#weight{
    display: flex;
    overflow: auto;
    position: fixed;
    height: 17px;
    width: 274px;
    padding: 20px;
    margin: 50px;
    border: 6px solid black;
    border-radius: 10px;
    top: -12px;
    right: 100px;
    font-weight: bold;
    justify-content: center;
    padding-bottom: 40px;
}


#abilities{
    display: flex;
    overflow: auto;
    position: fixed;
    height: 17px;
    width: 274px;
    padding: 20px;
    margin: 50px;
    border: 6px solid black;
    border-radius: 10px;
    top: 101px;
    right: 100px;
    font-weight: bold;
    justify-content: center;
    padding-bottom: 40px;
}

